{% extends 'app/layout.html' %}
{% load static %}
{% block navigation %}
        <div class="col-12 col-lg-9 col-xl-6">
            <div class="collapse navbar-collapse ml-auto mr-auto" id="navbars-default">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'protection'%}">Protection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'infected'%}">Infected</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'faq'%}">FAQ</a>
                    </li>
                    {% comment %} <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'single_news'%}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'archive-news'%}">News Archive</a>
                            <a class="dropdown-item" href="{% url 'single_news'%}">Single Post</a>
                        </div>
                    </li>
                     {% endcomment %}
                </ul>
            </div>
        </div>
{% endblock %}
{% block content %}
    <main role="main">
        <!-- Hero -->
        <section class="hero hero-md">
            <div class="hero__wrapper d-flex align-items-center" style="background-image:  linear-gradient(rgba(86, 101, 124, 0.8), rgba(86, 101, 124, 0.8)), url('{% static 'app/img/hero/hero-md-PCWxONF5JY4.jpg' %}')">
                <div class="container">
                    <div class="hero__text">
                        <h1>FAQ</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- /Hero -->
        <!-- FAQ -->
        <section class="faq bg-f bg-f--secondary pt-5 pb-5 pb-md-10 pt-md-10">
            <div class="container">
                <div class="row justify-content-md-center d-flex">
                    <div class="col-12 col-md-6 mb-5">
                        <span class="subtitle justify-content-center d-flex">FAQ of the CoronaPraise_</span>
                        <h2 class="title-line justify-content-center d-flex">Frequently Asked Questions</h2>
                        <!-- <p class="text-center">Aenean aliquet risus risus, in convallis velit egestas ac. Morbi et ipsum molestie, vehicula turpis id, porttitor elit.</p> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 d-none d-md-block">
                        <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                            <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1" aria-selected="false">
                                <i class="lni lni-question-circle"></i> General
                            </a>
                            <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2" aria-selected="false">
                                <i class="lni lni-stethoscope"></i> Symptoms
                            </a>
                            <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3" aria-selected="false">
                                <i class="lni lni-syringe"></i> Medical
                            </a>
                            <a href="#tab4" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab4" aria-selected="false">
                                <i class="lni lni-user"></i> Protection
                            </a>
                            <a href="#tab5" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab5" aria-selected="false">
                                <i class="lni lni-travel"></i> Travel
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content box-shadow" id="faq-tab-content">
                            <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                <h4>General</h4>
                                <div class="accordion" id="accordion-tab-1">
                                    <div class="card">
                                        <div class="card-header" id="accordion-tab-1-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">What is are the symptoms of covid-19?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>
                                                    COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and
                                                    recover without hospitalization.
                                                    Most common symptoms:fever,dry cough,tiredness
                                                    Serious symptoms:difficulty breathing or shortness of breath,chest pain or pressure,loss of speech or movement
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="accordion-tab-1-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">How do i test for Corona?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>
                                                    There are different types of coronavirus tests that can be done:
                                                    Swab Test – In this case, a special swab is used to take a sample from your nose or throat,
                                                    Nasal aspirate – In this case, a saline solution will be injected into your nose and, then a sample is taken with a
                                                    light suction,
                                                    Tracheal aspirate – In this case, a thin tube with a torch, also known as a bronchoscope, is put into your mouth to
                                                    reach your lungs from where a sample is collected,
                                                    Sputum Test – Sputum is thick mucus that gets accumulated in the lungs and comes out with a cough. During this test
                                                    you’re required to cough up sputum in a special cup or a swab is used to take a sample from your nose,
                                                    Blood test – In this case, a blood sample is taken from a vein in the arm.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="accordion-tab-1-heading-3">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">How do i protect myself?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>Wash your hands often with soap and water for at least 20 seconds. Use an alcohol-based hand sanitizer that contains at
                                                least 60% alcohol if soap and water are not available.
                                                • Avoid touching your eyes, nose, and mouth with unwashed hands.
                                                • Avoid close contact with people who are sick.
                                                • Cover your cough or sneeze with a tissue, then throw the tissue in the trash.
                                                • Clean and disinfect frequently touched objects and surfaces.
                                                • Maintain at least 1 meter (3 feet) distance between yourself and other people, particularly those who are coughing,
                                                sneezing and have a fever.
                                                • Stay home and self-isolate even with minor symptoms such as cough, headache, mild fever, until you recover.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="accordion-tab-1-heading-4">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4">Can i travel at the moment?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>
                                                    If you are having RT-PCR (negative) report u can travel in india.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                <h4>Symptoms</h4>
                                <div class="accordion" id="accordion-tab-2">
                                    <div class="card">
                                        <div class="card-header" id="accordion-tab-2-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-1"
                                                    aria-expanded="false" aria-controls="accordion-tab-2-content-1">Common Symptoms: </button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-2-content-1" aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <p>
                                                    Fever or chills
                                                    Cough
                                                    Shortness of breath or difficulty breathing
                                                    Fatigue
                                                    Muscle or body aches
                                                    Headache</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="accordion-tab-2-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-2" aria-expanded="false" aria-controls="accordion-tab-2-content-2">Serious symptoms:</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-2-content-2" aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <p>
                                                Trouble breathing
                                                Persistent pain or pressure in the chest
                                                New confusion
                                                Inability to wake or stay awake
                                                Pale, gray, or blue-colored skin, lips, or nail beds, depending on skin tone</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="accordion-tab-2-heading-3">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-3" aria-expanded="false" aria-controls="accordion-tab-2-content-3">Less common symptoms:</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-2-content-3" aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <p>
                                                New loss of taste or smell
                                                Sore throat
                                                Congestion or runny nose
                                                Nausea or vomiting
                                                Diarrhea</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                            <h4>Medical</h4>
                            <div class="accordion" id="accordion-tab-3">
                                <div class="card">
                                    <div class="card-header" id="accordion-tab-3-heading-1">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-1" aria-expanded="false" aria-controls="accordion-tab-3-content-1">At-Home Coronavirus Treatment</button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="accordion-tab-3-content-1" aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                                        <div class="card-body">
                                            <p>Rest. It can make you feel better and may speed your recovery.
                                            Stay home. Don't go to work, school, or public places.
                                            Drink fluids. You lose more water when you're sick. Dehydration can make symptoms worse and cause other health problems.
                                            Monitor. If your symptoms get worse, call your doctor right away. Don't go to their office without calling first. They
                                            might tell you to stay home, or they may need to take extra steps to protect staff and other patients.
                                            Ask your doctor about over-the-counter medicines that may help, like acetaminophen to lower your fever.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="accordion-tab-3-heading-2">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-2" aria-expanded="false" aria-controls="accordion-tab-3-content-2">hospitalized with COVID-19</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-3-content-2" aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                                        <div class="card-body">
                                            <p>Dexamethasone,Remdesivir,
                                                Baricitinib in combination with remdesivir,
                                                Anticoagulation drugs ("blood thinners")</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card">
                                    <div class="card-header" id="accordion-tab-3-heading-3">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-3" aria-expanded="false" aria-controls="accordion-tab-3-content-3">Aenean eget gravida eros?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-3-content-3" aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                                        <div class="card-body">
                                            <p>Vivamus vehicula, velit et tincidunt imperdiet, ipsum felis rutrum est, non egestas erat mi hendrerit lacus. Vestibulum ac arcu est. Duis ac neque egestas, efficitur nunc sed, mollis magna. Aliquam ac scelerisque velit, id blandit odio.</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                            <h4>Protection</h4>
                            <div class="accordion" id="accordion-tab-4">
                                <div class="card">
                                    <div class="card-header" id="accordion-tab-4-heading-1">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-1" aria-expanded="false" aria-controls="accordion-tab-4-content-1"> Stopping the spread starts with you</button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="accordion-tab-4-content-1" aria-labelledby="accordion-tab-4-heading-1" data-parent="#accordion-tab-4">
                                        <div class="card-body">
                                            <p>Wear a mask.
                                                Clean your hands.
                                                Maintain safe distance.
                                                Get vaccinated.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="accordion-tab-4-heading-2">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-2" aria-expanded="false" aria-controls="accordion-tab-4-content-2">stay Away</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-4-content-2" aria-labelledby="accordion-tab-4-heading-2" data-parent="#accordion-tab-4">
                                        <div class="card-body">
                                            <p> Stay 6 feet apart from others who don’t live with you.
                                                Avoid crowds and poorly ventilated indoor spaces.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                            <h4>Travel</h4>
                            <div class="accordion" id="accordion-tab-5">
                                <div class="card">
                                    <div class="card-header" id="accordion-tab-5-heading-1">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-1" aria-expanded="false" aria-controls="accordion-tab-5-content-1"> If you are having RT-PCR (negative) report u can travel in india.</button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="accordion-tab-5-content-1" aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                                        <div class="card-body">
                                           <p>The travel status of individual countries can change suddenly and we know it can be hard to stay on top of it all.
                                        That's why we're getting you the information you need to consider when planning travel.Just enter your departure country
                                        below - the map will update to reflect countries' opening status and any entry requirements for air travellers. Before
                                        you book, be sure to double check your country's official government site.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- /FAQ -->
    </main>
{% endblock %}